{% extends 'layout2.html' %}

{% block body %}

<div class="outer-container">
    <div class="inner-container">
        <div class="jumbotron">
            <table style="width: 100%; background-color: yellow;">
                <tr><td style="border-style: none; width: 25px; padding:0; margin-right:1px;">
                    <a class="button" href="{{url_for('ts_sub1_bp.game_pass')}}" >REFUSE</a>
                </td>
                <td style="border-style: none; width: 25px; padding:0; margin-right:1px;">
                    <a class="button" href="url_for('ts_sub1_bp.game_RAcpt')" >ACCEPT</a>
                </td>
                </tr>
            </table>
            <div class="text-black">
                <h1><strong>Current Player: {{user}}</strong></h1>
            </div>

            <div class="container">
                <div class="form-group">
                    {% from "includes/_formhelpers.html" import render_field %}
                    <div class="custom-table">
                        <div class="player-info">
                            <div style="background-color: gold;">PLAYER: <span>{{ data.player_number }}</span></div>
                            <div style="background-color: yellow;">ROUND: <span>{{ data.player_round }}</span></div>
                            <div style="background-color: gold;">MOVE COUNT: <span>{{ data.player_move }}</span></div>
                        </div>
                        <table class="table-container" style="border: 3px solid black; width: 50%; float:left; background-color:white; color: black;">
                            <thead>
                         <tr>
                          <th scope="col" style="padding: 0px;">&nbsp;</th>
                          <th scope="col" style="padding: 25px;">DESCRIPTION</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for option in options %}
                                <tr>
                                    <td style="background-color: black; color:white; border-color: white">{{ option.opt_ctgy }}</td>
                                    <td style="background-color: gold; padding: 15px;">{{ option.opt_desc }}</td>
                                </tr>
                            {% endfor %}
                      </tbody>
                            </table>
                     </div>

                    <div class="video-container" style="width: 45%; verticle-align: top; float:right;">
                        <video style="width: 100%; height: 500px; background-color: darkred;" controls autoplay>
                            <source src="/static/Takestock_Intro.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
