{% extends 'layout.html' %}

{% block body %}

<div class="container jumbotron text-center">
	<h1><strong>Welcome to the Game</strong></h1>
	<p class="font-italic" style="color:green;">The money game that makes dollars and cents. </p>
<p class="font-italic">Take$to¢k is a money game designed to engage young and old in finance.
	The object of the game is to challenge players to invest money rather than consume money.
	The game takes each player through four areas of competition – stocks, college, jobs, and life itself.
	Players have an opportunity to play the game using strategies or just for fun! </p>
<p class="font-italic">The object for each player is to win by wealth. In the game wealth is achieved
	by one accumulating the greatest amount of stock, obtaining the most or highest degrees,
	highest salary level or just by the accumulation of the greatest amount of money.
	When the players just want to have fun, they can just play for money.
	Players become wealthy through property investing, stock investing, education and job markets.
</p>
</div>
{% endblock %}