{% extends 'layout2.html' %}

{% block body %}

<div class="container">
    <div class="container">
        <div class="jumbotron">
            <table style="width: 100%; background-color: yellow;">
                <tr><td style="border-style: none; width: 25px; padding:0; margin-right:1px;">
                    <a class="button" href="{{url_for('ts_sub1_bp.game_PBoard')}}" target="_blank" >Player Board</a>
                </td>
                <td style="border-style: none; width: 25px; padding:0; margin-right:1px;">
                    <a class="button" href="{{url_for('ts_sub2_bp.travel_report_process')}}" >Get Report</a>
                </td>
                <td style="border-style: none; width: 25px; padding:0; margin-right:1px;">
                    <a class="button" href="{{url_for('ts_sub1_bp.game_pass')}}" >Decline Play</a>
                </td>
                </tr>
            </table>
            <div class="text-black">
                <h1 style="background-color: green;"><strong>Current Player: {{user}}</strong></h1>
            </div>

            <div class="inner-container" style="width: 100%">
                <div class="form-group">
                    {% from "includes/_formhelpers.html" import render_field %}
                    <div class="custom-table">
                        <div class="player-info">
                            <div style="background-color: gold;">PLAYER: <span>{{ data.player_number }}</span></div>
                            <div style="background-color: yellow;">ROUND: <span>{{ data.player_round }}</span></div>
                            <div style="background-color: gold;">MOVE COUNT: <span>{{ data.player_move }}</span></div>
                        </div>
                    </div>
                <table style="background-color: gold;">
                            <tr>

                    <td class="video-container" style=" verticle-align: top;">
                        <video width="1100" style="background-color: darkred;" controls autoplay>
                            <source src="/static/{{ video }}" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    </td>
                    </tr></table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
