{% extends 'layout.html' %}

{% block body %}
<div class="container jumbotron" style="background-color: #f2deee;">

    <div class="text-black">

        <h1><strong>Welcome {{ username }}</strong></h1>
        <h2 class="text-center">Game Lobby Page</h2>
    </div>

    <table style="width:100%; font-size: 20px;" class="text-white table-hover table-bordered table-dark table-striped">
        <tr>
            <th class="text-center" height="50"><strong>GAME LEVEL</strong></th>
            <th class="text-center" height="50"><strong>SELECT CODE</strong></th>
            <th class="text-center" height="50"><strong>DESC</strong></th>
        </tr>
        {% for key, value in levels_goals.items() %}
        <tr>
            <td class="text-left" height="50">{{ value.name }}</td>
            <td class="text-center" height="50">{{ key }}</td>
            <td class="text-left" height="50">{{ value.desc }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="jumbotron" style="background-color: #efd7b6;">
        <h2 class="text-center">Game Goals</h2>
        <br>
        <div class="form-group">

            <form method="POST" action="">
                <table class="centered">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="glevel">Game Level</label>
                                <select name="glevel" id="glevel" class="form-control" onchange="updateGoals()">
                                    <option value="" disabled selected>Select a level</option>
                                    {% for key, value in levels_goals.items() %}
                                    <option value="{{ key }}">{{ value.name }}</option>

                                    {% endfor %}
                                </select>
                            </div>
                        </td>



                        <td>
                            <div class="form-group">
                                <label for="ggoal">Game Goal</label>
                                <select name="ggoal" id="ggoal" class="form-control">
                                    <option value="" disabled selected>Select a level first</option>
                                    {% for key, value in levels_goals.items() %}
                                        {% for goalKey, goalValue in value.goals.items() %}
                                        <option value="{{ goalKey }}" data-level="{{ key }}">{{ goalValue['name'] }}</option>

                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="table mx-auto">
                    <tr> <td colspan="3"><h3 style="color:black;" class="centered">Game Settings</h3></td></tr>
                    <tr>
                        <td>{{ form.player_count.label }} {{ form.player_count(class_="form-control") }}</td>
                        <td>{{ form.status.label }} {{ form.status(class_="form-control") }}</td>
                        <td>{{ form.game_ID.label }} {{ form.game_ID(class_="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.start_date.label }} {{ form.start_date(class_="form-control") }}</td>
                        <td>{{ form.population.label }} {{ form.population(class_="form-control") }}</td>
                        <td>{{ form.population_chg.label }} {{ form.population_chg(class_="form-control") }}</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
                <table class="table mx-auto"><tr><td>
                        <button type="submit" class="btn btn-primary">Insert/Update</button></td>
                    <td>
                        <button type="submit" class="btn btn-primary" formmethod="get" formaction="{{url_for('game_end')}}">End Game</button>
                </td></tr></table>
            </form>
        </div>
    </div>
</div>

<script>
    function updateGoals() {
        const levelSelect = document.getElementById('glevel');
        const goalSelect = document.getElementById('ggoal');
        const selectedLevel = levelSelect.value;

        // Clear existing goals
        goalSelect.innerHTML = '<option value="" disabled selected>Select a goal</option>';

        // Add relevant goals
        {% for key, value in levels_goals.items() %}
            if (selectedLevel === "{{ key }}") {
                {% for goalKey, goalValue in value.goals.items() %}
                    goalSelect.innerHTML += '<option value="{{ goalKey }}">{{ goalValue["name"] }}</option>';
                {% endfor %}
            }
        {% endfor %}
    }

    window.onload = function() {
        document.getElementById('glevel').value = "{{ form.glevel.data }}";
        updateGoals(); // Call updateGoals after setting glevel value
        document.getElementById('ggoal').value = "{{ form.ggoal.data }}";
    };

    document.getElementById('glevel').addEventListener('change', updateGoals); // Add event listener for change event
</script>

{% endblock %}