{% extends 'layout.html' %}

{% block body %}
	<div class="container jumbotron" style="background-color: #f2deee ">
		<div class="text-black">
		<h1><strong>Welcome {{username}}</strong></h1>

		<h2 class = "text-center">Game Setup Page</h2>
		</div>

	<div class="jumbotron" style="background-color: #efd7b6; ">
		<div class="form-group">
			 {% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="">
		<table class="table table-borderless">
			<tr><td>
			<div class="form-group">
				{{render_field(form.player_count, class="form-control")}}
			</div></td><td>
			<div class="form-group">
				{{render_field(form.game_ID, class="form-control")}}
			</div>
			</td></tr>
		</table>
                <table class="centered">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="glevel">Game Level</label>
                                <select name="glevel" id="glevel" class="form-control" onchange="updateGoals()">
                                    <option value="" disabled selected>Select a level</option>
                                    {% for key, value in levels_goals.items() %}
                                    <option value="{{ key }}">{{ value.name }}</option>

                                    {% endfor %}
                                </select>
                            </div>
                        </td>



                        <td>
                            <div class="form-group">
                                <label for="ggoal">Game Goal</label>
                                <select name="ggoal" id="ggoal" class="form-control">
                                    <option value="" disabled selected>Select a level first</option>
                                    {% for key, value in levels_goals.items() %}
                                        {% for goalKey, goalValue in value.goals.items() %}
                                        <option value="{{ goalKey }}" data-level="{{ key }}">{{ goalValue['name'] }}</option>

                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
	</form>
		</div>
		<table class="table">
  		<thead>
   	 <tr>
      <th scope="col">PLAYERS NAME</th>
      <th scope="col">PLAYERS NUMBER</th>
      <th scope="col">PLAYERS STATUS</th>
    </tr>
  </thead>
  <tbody>
  		{% for player in players %}
    		<tr>
				<td>{{ player.username }}</td>
				<td>{{ player.player_number }}</td>
				<td>{{ player.status }}</td>
			</tr>

        {% endfor %}
  </tbody>
		</table>
	</div>
		<table  class="table table-borderless">
			<tr><td>
				<button class="nav-item"><a class="btn btn-primary" href="{{url_for('game_setup', method='POST')}}">Setup Update</a></button>
			</td><td>
				<button class="nav-item"><a class="btn btn-primary" href="{{url_for('ts_sub1_bp.game_pass')}}">Start Game</a></button>
				</td>
				<td style="background-color: green;">
					<h3 style="background-color: tan;">GAME RULES</h3>
					<ul style="text-align: left;">
						<li>Players status must be READY</li>
						<li>Number of players must match player count</li>
					</ul>
				</td>
			</tr>
		</table>

</div>
<script>
    function updateGoals() {
        const levelSelect = document.getElementById('glevel');
        const goalSelect = document.getElementById('ggoal');
        const selectedLevel = levelSelect.value;

        // Clear existing goals
        goalSelect.innerHTML = '<option value="" disabled selected>Select a goal</option>';

        // Add relevant goals
        {% for key, value in levels_goals.items() %}
            if (selectedLevel === "{{ key }}") {
                {% for goalKey, goalValue in value.goals.items() %}
                    goalSelect.innerHTML += '<option value="{{ goalKey }}">{{ goalValue["name"] }}</option>';
                {% endfor %}
            }
        {% endfor %}
    }

    window.onload = function() {
        document.getElementById('glevel').value = "{{ form.glevel.data }}";
        updateGoals(); // Call updateGoals after setting glevel value
        document.getElementById('ggoal').value = "{{ form.ggoal.data }}";
    };

    document.getElementById('glevel').addEventListener('change', updateGoals); // Add event listener for change event
</script>
{% endblock %}